<a href="https://colab.research.google.com/github/Aswin-Kumar66/python-tm-generator/blob/main/kaggle_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from google.colab import files
import io

uploaded = files.upload()

Saving train.csv to train.csv

In [54]:
df = pd.read_csv(io.BytesIO(uploaded['train.csv']))
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
df.shape

(891, 12)

In [55]:

df = df.replace('female' , 0 )
df = df.replace('male' , 1 )

In [23]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [57]:
df = df.drop('Name' , axis = 1 )
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,1,35.0,0,0,373450,8.0500,NaN,S

In [58]:
df = df.drop('Ticket' ,  axis = 1)
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,7.2500,NaN,S
1,2,1,1,0,38.0,1,0,71.2833,C85,C
2,3,1,3,0,26.0,0,0,7.9250,NaN,S
3,4,1,1,0,35.0,1,0,53.1000,C123,S
4,5,0,3,1,35.0,0,0,8.0500,NaN,S

In [44]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [59]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,7.2500,NaN,S
1,2,1,1,0,38.0,1,0,71.2833,C85,C
2,3,1,3,0,26.0,0,0,7.9250,NaN,S
3,4,1,1,0,35.0,1,0,53.1000,C123,S
4,5,0,3,1,35.0,0,0,8.0500,NaN,S

In [60]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age              0
SibSp            0
Parch            0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [61]:
df = df.drop("Cabin" , axis = 1)

In [62]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    1  22.0      1      0   7.2500        S
1            2         1       1    0  38.0      1      0  71.2833        C
2            3         1       3    0  26.0      0      0   7.9250        S
3            4         1       1    0  35.0      1      0  53.1000        S
4            5         0       3    1  35.0      0      0   8.0500        S

In [64]:
df['Embarked'].isna().sum()

2

In [71]:
df = df.dropna(subset = "Embarked")

df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [83]:
df = df.replace('S', 0)
df = df.replace('C', 0.5)
df = df.replace('Q', 1)
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,0.271174,1,0,0.014151,0
1,2,1,1,0,0.472229,1,0,0.139136,1
2,3,1,3,0,0.321438,0,0,0.015469,0
3,4,1,1,0,0.434531,1,0,0.103644,0
4,5,0,3,1,0.434531,0,0,0.015713,0

In [86]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df[['Age']])
df['Fare'] = scaler.fit_transform(df[['Fare']])
df['Parch'] = scaler.fit_transform(df[['Parch']])
df['SibSp'] = scaler.fit_transform(df[['SibSp']])
df['Pclass'] = scaler.fit_transform(df[['Pclass']])

In [126]:
df.head()
df.describe()
df = df.drop('PassengerId' , axis = 1)

In [127]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop('Survived' , axis = 1), df.Survived, test_size=0.25, random_state=0)

In [128]:
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

score = logisticRegr.score(x_test, y_test)
print(score)

0.757847533632287

In [129]:
from sklearn.tree import DecisionTreeClassifier
decisiontree = DecisionTreeClassifier()
decisiontree.fit(x_train, y_train)

score = decisiontree.score(x_test, y_test)
print(score)

0.7713004484304933

In [130]:
from sklearn.ensemble import RandomForestClassifier
randomforest = RandomForestClassifier(n_estimators = 600)
randomforest.fit(x_train, y_train)

score = randomforest.score(x_test, y_test)
print(score)

0.7847533632286996

In [155]:
from sklearn.svm import SVC
svm = SVC(kernel="rbf", gamma=0.5, C=1.0)
svm.fit(x_train, y_train)

score = svm.score(x_test, y_test)
print(score)

0.7713004484304933

In [103]:
uploaded1 = files.upload()

Saving test.csv to test.csv

In [106]:
df1 = pd.read_csv(io.BytesIO(uploaded1['test.csv']))
df1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [107]:
df1 = df1.replace('female' , 0 )
df1= df1.replace('male' , 1 )
df1 = df1.replace('S', 0)
df1 = df1.replace('C', 0.5)
df1 = df1.replace('Q', 1)
df1 = df1.drop('Name' , axis = 1 )
df1 = df1.drop('Ticket' ,  axis = 1)
df1 = df1.drop("Cabin" , axis = 1)

In [108]:
df1.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292       1.0
1          893       3    0  47.0      1      0   7.0000       0.0
2          894       2    1  62.0      0      0   9.6875       1.0
3          895       3    1  27.0      0      0   8.6625       0.0
4          896       3    0  22.0      1      1  12.2875       0.0

In [110]:
df1['Age'] = scaler.fit_transform(df1[['Age']])
df1['Fare'] = scaler.fit_transform(df1[['Fare']])
df1['Parch'] = scaler.fit_transform(df1[['Parch']])
df1['SibSp'] = scaler.fit_transform(df1[['SibSp']])
df1['Pclass'] = scaler.fit_transform(df1[['Pclass']])

df1.head()

   PassengerId  Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0          892     1.0    1  0.452723  0.000  0.000000  0.015282       1.0
1          893     1.0    0  0.617566  0.125  0.000000  0.013663       0.0
2          894     0.5    1  0.815377  0.000  0.000000  0.018909       1.0
3          895     1.0    1  0.353818  0.000  0.000000  0.016908       0.0
4          896     1.0    0  0.287881  0.125  0.111111  0.023984       0.0

In [119]:
pid = df1['PassengerId']

df1 = df1.drop('PassengerId' , axis = 1)

df1.head()

   Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0     1.0    1  0.452723  0.000  0.000000  0.015282       1.0
1     1.0    0  0.617566  0.125  0.000000  0.013663       0.0
2     0.5    1  0.815377  0.000  0.000000  0.018909       1.0
3     1.0    1  0.353818  0.000  0.000000  0.016908       0.0
4     1.0    0  0.287881  0.125  0.111111  0.023984       0.0

In [118]:
pid

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [133]:
df1['Age'] = df1['Age'].fillna(df1['Age'].mean())

df1['Fare'] = df1['Fare'].fillna(df1['Fare'].mean())

In [135]:
df1.isna().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [137]:
predictedvalues = randomforest.predict(df1)

In [153]:
predictedvalues
pred = pd.DataFrame(predictedvalues)
passid = pd.DataFrame(pid)
passid

finaldf = pd.concat([passid , pred] , axis = 1)
finaldf

finaldf.to_csv('finalvalues.csv')
files.download('finalvalues.csv')